<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
    
    
</head>

<body >
  
  <nav class="navbar navbar-expand-lg navbar-light font-monospace  " style="font-size: 25px;background-color: #FFD6A5; padding-right: 150px;padding-left: 150px;" >
    <div class="container-fluid">
      <a class="navbar-brand  text-danger fw-bolder" href="#" style="font-size: 30px; ">BlogHunt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav fw-bold">
          <a class="nav-item nav-link " href="/">Home</a>
          <a class="nav-item nav-link" href="/about">AboutUs</a>
          <a class="nav-item nav-link" href="/contact">ContactUs</a>
        </div>
      </div>
    </div>
  </nav>
  
  
 



