<%- include('partials/header') -%>
<div class="d-flex">
<div class="container justify-content-center p-5 ">
   
    <h1 class="text-start font-monospace">Compose</h1>
    
    <form action="/" method="post">
        <label for="title " class="mb-2" >Title</label>
        <input type="text" class="form-control " name="title" id="title">  
        <label for="textarea" class="mb-2">Post</label>
        <textarea class="form-control " id="textarea" name="blog" rows="6"></textarea>
        <button class="btn btn-danger m-3">Createblog</button>
       

    </form>
    </div>

</div>
<%- include('partials/footer') -%>