<%- include('partials/header') -%>
<div class="d-flex">
<div class="container justify-content-center p-5 ">
    <h1 class="text-start font-monospace">Contact</h1>
    <p class=""><%= content %></p>
</div>
</div>
<%- include('partials/footer') -%>